* {
  box-sizing: border-box;
}
.fondo {
  height: 970px;
  display: inline-block;
  border: solid white;
  vertical-align: top;
  line-height: 0;
}
body {
  background-color: #40394e;
  background-image: image-set("https://i.pinimg.com/550x/c1/d5/91/c1d591ab0fbe8b9a7eeb686213a899ba.jpg");
  background-position-x: center;
}
.sesion {
  padding-top: 15px;
  align-content: center;
  display: flexbox;
}
.menu {
  width: 25%;
  float: left;
}
.main {
    width: 75%;
   float: left;
  }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row::after {
    content: "";
      clear: both;
    display: table;
  }
  @media only screen and (min-width: 768px) {
     .col-1 {width: 8.33%;}  
     .col-2 {width: 16.66%;}  
     .col-3 {width: 25%;}  
     .col-4 {width: 33.33%;}  
     .col-5 {width: 41.66%;}  
     .col-6 {width: 50%;}
     [class*="col-"] 
     {  width: 100%;}  .col-7 {width: 58.33%;}  
     .col-8 {width: 66.66%;}  
     .col-9 {width: 75%;}  
     .col-10 {width: 83.33%;}  
     .col-11 {width: 91.66%;}  
     .col-12 {width: 100%}
  }

.boton{top:60%; right:45%;}